<div style="height:5rem;margin-top:.5rem;">
    <ngb-alert *ngIf="message" [type]="alertType" [dismissible]="true" (close)="message = null">
        {{ message }}
    </ngb-alert>
</div>
<button type="button" (click)="addTodo()">Add todo</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Is Done</th>
            <th>Deadline Date</th>
            <th>Affected persons</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let todo of todoList$ | async">
            <tr [class.row-active]="todo.isDone">
                <td>{{todo.id}}</td>
                <td>{{todo.name}}</td>
                <td><input type="checkbox" [(ngModel)]="todo.isDone" (ngModelChange)="updateTodo(todo)"></td>
                <td>{{todo.deadLineDate | date}}</td>
                <td>
                    <span class="badge badge-pill badge-primary" *ngFor="let person of todo.persons">
                        {{person.label}}
                    </span>
                </td>
                <td>
                    <button [style.visibility]="todo.isDone ? 'visible':'hidden'" type="button" class="btn btn-danger"
                        (click)="removeTodo(todo)">Remove</button>


                    <button [style.visibility]="!todo.isDone ? 'visible':'hidden'" type="button" class="btn btn-primary"
                        (click)="updateTodoInModal(todo)">Update</button>


                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
