<ngb-toast *ngIf="hasErrors" class="bg-danger text-light" [autohide]="true" [delay]="2000" (hide)="hasErrors = null">
    An error occured while saving the task.
</ngb-toast>
<form [formGroup]="formGroup" (ngSubmit)="saveTodo()">
    <div class="form-group">
        <label for="todoName">Name</label>
        <input formControlName="name" type="text" class="form-control" id="todoName" placeholder="Task name"
            [ngClass]="{'is-invalid' : submitted && formGroup.controls.name.invalid, 'is-valid' : submitted && formGroup.controls.name.valid}">
        <div *ngIf="submitted && formGroup.get('name').errors" class="invalid-feedback">
            Le nom est obligatoire.
        </div>

    </div>
    <div class="form-group">
        <label for="todoDate">Deadline date</label>
        <input formControlName="deadLineDate" type="date" class="form-control" id="todoDate"
            placeholder="Deadline date">
    </div>
    <div class="form-group">
        <ng-select formControlName="persons" [multiple]="true" [items]="personList$ | async">
        </ng-select>
    </div>
    <button type="submit" [attr.disabled]="formGroup.invalid ? 'disabled': null" class="btn btn-primary">Save</button>
</form>
