<div>
    <button type="button" class="btn btn-primary" (click)="increment()">Increment</button>
    <button type="button" class="btn btn-secondary" (click)="decrement()">Decrement</button>
    <button #resetButton type="button" class="btn btn-info" (click)="reset()">Reset</button>

    <ng-template #myTemplate>
        I'm a template !
    </ng-template>

    <div>
        Current count :     
        {{ (counterState$ | async)?.value }}
    </div>
</div>
