<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Todo App</a>
    <button class="navbar-toggler" type="button" (click)="this.isCollapsed = !this.isCollapsed"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav">
            <li class="nav-item" *ngFor="let item of items">
                <a class="nav-link" [routerLink]="[item.route]">{{item.label}}</a>
            </li>
        </ul>
    </div>
</nav>
